<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.vksi.c4j.eclipse.plugin.handlers.ConvertToC4JProjectHandler"
            id="de.vksi.c4j.eclipse.plugin.convertToC4jProject"
            name="Convert to C4J Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.vksi.c4j.eclipse.plugin.convertToC4jProject"
               label="Convert to C4J Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.jdt.core.IJavaProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.vksi.c4j.eclipse.plugin.category.wizards"
            name="C4J Project Wizard">
      </category>
      <wizard
            category="de.vksi.c4j.eclipse.plugin.category.wizards"
            class="de.vksi.c4j.eclipse.plugin.wizards.C4JProjectWizard"
            icon="icons/c4jIcon.gif"
            id="de.vksi.c4j.eclipse.plugin.new.project.wizard"
            name="C4J Project">
      </wizard>
   </extension>
</plugin>
