<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.vksi.c4j.eclipse.plugin.commands.category"
            defaultHandler="de.vksi.c4j.eclipse.plugin.commands.ConvertToC4JProjectCommand"
            id="de.vksi.c4j.eclipse.plugin.convertToC4jProject"
            name="Convert to C4J Project">
      </command>
      <category
            id="de.vksi.c4j.eclipse.plugin.commands.category"
            name="C4J">
      </category>
      <command
            categoryId="de.vksi.c4j.eclipse.plugin.commands.category"
            defaultHandler="de.vksi.c4j.eclipse.plugin.commands.JumpToContractCommand"
            description="Jump to contract"
            id="de.vksi.c4j.eclipse.plugin.jumpToContract"
            name="Jump to Contract">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="de.vksi.c4j.eclipse.plugin.convertToC4jProject"
               label="Convert to C4J Project"
               style="push">
            
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.vksi.c4j.eclipse.plugin.category.wizards"
            name="C4J Project Wizard">
      </category>
      <wizard
            category="de.vksi.c4j.eclipse.plugin.category.wizards"
            class="de.vksi.c4j.eclipse.plugin.wizards.C4JProjectWizard"
            icon="icons/c4jIcon.gif"
            id="de.vksi.c4j.eclipse.plugin.new.project.wizard"
            name="C4J Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaEditorTextHovers">
      <hover
            activate="true"
            class="de.vksi.c4j.eclipse.plugin.ui.texthover.C4JTextHover"
            id="de.vksi.c4j.eclipse.plugin.hover">
      </hover>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="de.vksi.c4j.eclipse.plugin.ui.quickassist.C4JQuickAssistProcessor"
            id="de.vksi.c4j.eclipse.plugin.C4JQuickAssistProcessor"
            name="Create Contract">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.vksi.c4j.eclipse.plugin.jumpToContract"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+ARROW_RIGHT">
      </key>
      <key
            commandId="de.vksi.c4j.eclipse.plugin.jumpToContract"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+ARROW_LEFT">
      </key>
   </extension>
</plugin>
